body{
    background-color: #ebebeb;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: #941f1f;
    font-size: 2vh;
    text-align: left;
    color: mintcream;
}
header > h1{
    font-size: 4em;
    margin-top: 0px;
    margin-bottom: 0px;
}
main {
    padding: 0px;
}

#img-1 {
    text-align: center;
    margin: 0px
}
#img-1 > img {
    width: 90vw;
    height: 95vh
}
#img-1> img:hover {
    width: 100vw;
    height: 105vh;
    transition: 2s;
}
#holy {
    text-align: left;
    margin: 15px
}
#holy > video {
    width: 50vw;
    height: 55vh
}
#img-3 {
    text-align: left;
    margin: 15px
}
#img-3 > img {
    width: 50vw;
    height: 55vh
}
#Vacacionar > h2 {
    text-align: left;
    color: #941f1f;
    font-size: 2.5rem;
    margin: 15px;
}
#Vacacionar > ul > li{
    text-align: left;
    color: black;
    font-size: 1.5rem;
    margin: 15px;
}
#Vacacionar > h2 {
    text-align: left;
    color: #941f1f;
    font-size: 2.2rem;
    margin: 15px;
}
#Receta > h2{
    text-align: left;
    color: #941f1f;
    font-size: 2.5rem;
    margin: 15px;
}


footer {
    background-color: #5a2020;
    min-height: 3vh;
    text-align: center;
}
footer > address > a {
    font-size: 1em;
    color: mintcream;
    text-transform: uppercase;
}
