body{
    background-color: #ebebeb;
    margin: 0px;
    padding: 0px;
}
header {
    background-color: cadetblue;
    min-height: 10vh;
    text-align: center;
    color: mintcream;
}
header > h1{
    font-size: 4em;
    margin-top: 0px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
main {
    padding: 0px;
}

.content-fig {
    width: 50wv;
    height: 45vh;
}
#Comidas{
    background-color: rgb(222, 226, 228);
    padding: 3%;
}
#comidas-img-1 {
    text-align: center;
    margin: 0px
}
#comidas-img-1 > img {
    width: 55vw;
    height: 65vh
}
#comidas-img-1> img:hover {
    width: 45vw;
    height: 55vh;
    transition: 2s;
}
#paella-img-2 {
    text-align: left;
    margin: 0px
}
#paella-img-2 > img {
    width: 35vw;
    height: 45vh
}
#videocomidas-img-3 {
    text-align: left;
    margin: 48px
}
#videocomidas-img-3 > video {
    width: 35vw;
    height: 45vh
}
#Española {
    min-height: 10vh;
    text-align: left;
    color: cadetblue;
    font-size: 1.5rem;
    transition: 2s;
}
#titulo-españa:hover{
    background-color: rgb(165, 171, 175);
}
#Colombiana >h2 {
    min-height: 10vh;
    text-align: left;
    color: cadetblue;
    font-size: 2.2rem;
}


footer {
    background-color: #537c88;
    min-height: 3vh;
    text-align: center;
}
footer > address > a {
    font-size: 1em;
    color: mintcream;
    text-transform: uppercase;
}